@charset "utf-8";

/* body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #40C7FF 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
} */

/* header {
    margin-bottom: 50px;
} */

/* #wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 15px;
} */

/* 旅する衣ロゴ */

/* .logo {
    padding: 5px 0px;
}

.title {
    text-decoration: none;
    color: white;
    position: relative;
    left: 40px;
    z-index: 1;
    letter-spacing: 2px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.title2 {
    text-decoration: none;
    color: #2BBF00;
    position: absolute;
    left: 40px;
    letter-spacing: 2px;
    top: 10px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.tabi {
    display: inline-block;
    font-size: 70px;
    position: relative;
    top: 5px;
    transform: rotate(12deg);
    margin: 0px 5px;
}

.title_text {
    font-size: 35px;
}

.title_koromo {
    font-size: 20px;
} */

/* ハンバーガーメニュー */

/* nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.78);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
}

.open nav {
    right: 0;
    opacity: 1;
    width: 370px;
    z-index: 9999;
}

nav .inner {
    padding: 0em 2em;
}

nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    position: relative;
    margin: 0;
    top: 50px;
    letter-spacing: 0.5px;
}

nav .inner ul li a {
    display: block;
    font-size: 22px;
    margin: 3em 1.5em;
    text-decoration: none;
    transition-duration: 0.2s;
} */

/*============
.toggle_btn
=============*/

/* .p-menu {
    display: block;
    position: absolute;
    transition: all .5s;
    cursor: pointer;
    z-index: 10000;
}

.p-menu span {
    display: block;
    width: 35px;
    background-color: white;
    border-radius: 4px;
    transition: all .5s;
    border: 1px solid black;
}

.p-menu span:nth-child(1) {
    height: 4px;
}

.p-menu span:nth-child(2) {
    height: 4px;
    margin-top: 4px;
}

.p-menu span:nth-child(3) {
    height: 4px;
    margin-top: 4px;
}

.open .p-menu span {
    background-color: black;
}

.open .p-menu span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
    height: 5px;
    background-color: #2BBF00;
    top: 3px;
    border: none;
}

.open .p-menu span:nth-child(2) {
    opacity: 0;
}

.open .p-menu span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
    height: 5px;
    top: 23px;
    background-color: #2BBF00;
    border: none;
}

.p-menu--green {
    display: block;
    position: absolute;
    top: 2px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: -1;
}

.p-menu--green span {
    display: block;
    width: 35px;
    background-color: #2BBF00;
    border-radius: 4px;
    transition: all .5s;
    border: 1px solid black;
}

.p-menu--green span:nth-child(1) {
    height: 4px;
}

.p-menu--green span:nth-child(2) {
    height: 4px;
    margin-top: 4px;
}

.p-menu--green span:nth-child(3) {
    height: 4px;
    margin-top: 4px;
}

.open .p-menu--green span {
    opacity: 0;
}

.open .p-menu--green span:nth-child(1) {
    opacity: 0;
}

.open .p-menu--green span:nth-child(2) {
    opacity: 0;
}

.open .p-menu--green span:nth-child(3) {
    opacity: 0;
} */

/* ハンバーガーメニュー見出し */

/* .illust a {
    position: absolute;
    color: #40C7FF;
    z-index: 2;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    transition: all 0.2s;
    top: -67px;
}

.illust a:hover {
    transform: translate(0px, 3.5px);
}

.illust2 a {
    position: relative;
    color: white;
    top: 2.5px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.about a {
    position: absolute;
    color: #2BBF00;
    z-index: 2;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    top: -68px;
    transition: all 0.2s;
}

.about a:hover {
    transform: translate(0px, 3.5px);
}

.about2 a {
    position: relative;
    color: white;
    top: 2.5px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.create a {
    position: absolute;
    color: #B479FF;
    z-index: 2;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    top: -68px;
    transition: all 0.2s;
}

.create a:hover {
    transform: translate(0px, 3.5px);
}

.create2 a {
    position: relative;
    color: white;
    top: 2.5px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.contact a {
    position: absolute;
    color: #FF0033;
    z-index: 2;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    top: -68px;
    transition: all 0.2s;
}

.contact a:hover {
    transform: translate(0px, 3.5px);
}

.contact2 a {
    position: relative;
    color: white;
    top: 2.5px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.spt a {
    position: absolute;
    color: #ffa500;
    z-index: 2;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    top: -68px;
    transition: all 0.2s;
}

.spt a:hover {
    transform: translate(0px, 3.5px);
}

.spt2 a {
    position: relative;
    color: white;
    top: 2.5px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
} */

/* 国名一覧 */

/* .acd-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submenu_red {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #FF0033;
    transition: all 0.2s;
    position: relative;
    top: 40px;
}

.submenu_white:active {
    transform: translate(0px, 15px);
}

.submenu_white {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

#acd-check1 {
    padding: 10px;
}

.acd-check {
    display: none;
}

.acd-content {
    height: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked+.acd-label+.acd-content {
    opacity: 1;
    visibility: visible;
}

.acd-content ul {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 9998;
    height: 850px;
    overflow: auto;
}

.acd-content ul::-webkit-scrollbar {
    display: none;
}

.acd-content li {
    list-style: none;
    color: white;
    font-size: 14px;
    position: relative;
    right: 20px;
}

.acd-content li h2 {
    text-align: left;
} */

/* サブメニューから開くモーダルウィンドウ */



/* 支援者はこちらのとこ */

/* .support_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    margin-top: 55px;
}

.support_btn {
    background-color: #2EC4B6;
    width: 25%;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    z-index: 1;
}

.support_btn:hover {
    background-color: #ddffcc;
}

.support_btn:active {
    transform: translate(5px, 5px);
}

.support_btn2 {
    background-color: white;
    width: 25%;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid black;
    position: absolute;
    color: white;
    top: 6px;
    left: 37.8%;
} */

/* ポストのとこ

#new_post {
    background-color: #011627;
    margin-top: 100px;
    width: 100%;
    height: 470px;
}

.post_midasi {
    position: absolute;
    color: white;
    left: 30px;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 3px 3px 0 #2BBF00, 2px 2px 0 #2BBF00, -1px -1px 0 #2BBF00;
}

.post_overall {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 110px;
    overflow: scroll;
}

.post_overall::-webkit-scrollbar {
    display: none;
}

.post_single {
    height: 250px;
    margin-right: 25px;
}

.post_name {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
} */

/* アバウトのとこ */
/* #about_us {
    margin-top: 10em;
}

.content_about {
    border-radius: 20px;
    background: #2BBF00;
    width: 625px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
}

.content_about2 {
    border-radius: 20px;
    background: white;
    padding: 45px 20px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.isenti_logo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.about_text {
    color: #000000;
    font-size: 16px;
    position: relative;
    left: 50px;
    line-height: 2;
}

.about_green {
    color: white;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 0px 5px 0 #2BBF00, 2px 2px 0 #2BBF00, -1px -1px 0 #2BBF00;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.triangle_green {
    width: 0;
    height: 0;
    border-left: 17px solid #2BBF00;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: relative;
    left: 203px;
}

.triangle_white {
    width: 0;
    height: 0;
    border-left: 17px solid white;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: relative;
    left: 180px;
}

.details {
    position: relative;
    color: black;
    left: 180px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.details:hover {
    transform: scale(1.2, 1.2);
} */

/* その他サポーターのとこ

.other_support {
    text-align: center;
    position: relative;
    margin-top: 10em;
}

.other_green {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 5px 0 #2BBF00, 2px 2px 0 #2BBF00, -1px -1px 0 #2BBF00;
    letter-spacing: 1px;
}

.other_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.other_company_logo {
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.other_company_name {
    font-weight: bold;
}

.other_text {
    display: flex;
    position: relative;
    margin-top: 50px;
    justify-content: flex-end;
    align-items: center;
    right: 300px;
}

.other_flow {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    left: 180px;
    color: black;
    transition: all 0.2s;
}

.other_flow:hover {
    transform: scale(1.1, 1.1);
}

.support_triangle_g {
    width: 0;
    height: 0;
    border-left: 17px solid #2BBF00;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: relative;
    left: 203px;
}

.support_triangle_w {
    width: 0;
    height: 0;
    border-left: 17px solid white;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: relative;
    left: 180px;
} */

/* コンプリートのとこ */

/* .complete_overall {
    margin-top: 300px;
}

.complete {
    position: relative;
    left: 200px;
}

.complete_green {
    position: absolute;
    color: #2BBF00;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    letter-spacing: 1px;
}

.complete_white {
    position: relative;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
    letter-spacing: 1px;
    top: 18px;
} */

/* モアーのとこ

.more {
    text-align: center;
}

.more_green {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 5px 0 #2BBF00, 2px 2px 0 #2BBF00, -1px -1px 0 #2BBF00;
}

.maru {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2BBF00;
    border: 1px solid black;
}

.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
    position: relative;
    bottom: 5px;
    background-size: 5px 5px;
    margin: 0 auto;
    background-image: radial-gradient(#2BBF00 15%, transparent 20%), radial-gradient(#2BBF00 15%, transparent 20%);
    background-position: 0 0, 15px 15px;
}

.circle3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #40C7FF;
    border: 1px solid black;
    position: relative;
    bottom: 10px;
}

.half_moon_a {
    height: 150px;
    border-radius: 75px 0 0 75px;
    background: #2BBF00;
    border: 1px solid black;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    left: 40%;
    width: 60%;
} */

/* SNS

.sns_maru1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    position: relative;
    bottom: 3px;
    margin-left: 55px;
    margin-right: 50px;
    top: 1;
}

.base {
    width: 75px;
    height: 75px;
    position: relative;
    top: 7px;
    transition: all 0.2s;
}

@keyframes pulse {
    25% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(.9);
    }
}

.base:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sns_maru2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    position: relative;
    bottom: 3px;
    margin-right: 50px;
    top: 1;
}

.insta {
    width: 43px;
    height: 43px;
    position: relative;
    top: 24px;
    transition: all 0.2s;
}

.insta:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sns_maru3 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    position: relative;
    bottom: 3px;
    top: 1;
}

.twitter {
    width: 43px;
    height: 38px;
    position: relative;
    top: 28px;
    left: 2px;
    transition: all 0.2s;
}

.twitter:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sns_text {
    margin-left: 6%;
    position: relative;
    color: white;
    z-index: 1;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.sns_text2 {
    position: relative;
    color: #FFD600;
    text-align: left;
    top: 4px;
    right: 5.45em;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.half_moon_b {
    height: 150px;
    border-radius: 75px 0 0 75px;
    background: white;
    border: 1px solid black;
    position: relative;
    top: -9em;
    z-index: 2;
    left: 40%;
    width: 60%;
}

.half_moon_c {
    margin: 10px;
    height: 150px;
    border-radius: 75px 0 0 75px;
    background: white;
    border: 1px solid black;
    position: relative;
    right: 45%;
    transform: scale(-1, 1);
    z-index: 1;
    background-size: 15px 15px;
    margin: 0 auto;
    background-image: radial-gradient(#2BBF00 15%, transparent 20%), radial-gradient(#2BBF00 15%, transparent 20%);
    background-position: 0 0, 15px 15px;
    top: -15em;
}

.half_moon_d {
    margin: 10px;
    height: 150px;
    border-radius: 75px 0 0 75px;
    background: #FFD600;
    border: 1px solid black;
    position: relative;
    right: 45%;
    transform: scale(-1, 1);
    top: -24.5em;
}

.ibou {
    -webkit-animation: ibou 3s infinite linear alternate;
    animation: ibou 3s infinite linear alternate;
    position: relative;
    z-index: 2;
    width: 30%;
    right: 30%;
    top: 10em;
}

@-webkit-keyframes ibou {
    0% {
        -webkit-transform: translate(0, 0) rotate(-5deg);
    }

    50% {
        -webkit-transform: translate(0, -5px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(0, 0)rotate(5deg);
    }
}

@keyframes ibou {
    0% {
        transform: translate(0, 0) rotate(-5deg);
    }

    50% {
        transform: translate(0, -5px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0)rotate(5deg);
    }
} */

/*フッター*/

/* small {
    position: relative;
    bottom: 10px;
}

.fuwafuwa {
    width: 200px;
    height: 200px;
}

footer {
    position: relative;
    top: -1em;
} */

@media screen and (max-width: 1024px) {

    /* iPad Pro用 */
    .title {
        left: 30px;
    }

    .title2 {
        left: 30px;
    }

    modal {
        width: 55%;
    }

    .support_btn {
        width: 30%;
        font-size: 25px;
    }

    .support_btn2 {
        width: 30%;
        font-size: 25px;
        left: 35.5%;
    }

    .post_overall {
        top: 100x;
    }

    .fuwafuwa {
        width: 150px;
        height: 150px;
    }

    .about_white {
        bottom: 81px;
    }

    .other_white {
        bottom: 81px;
    }

    .more_white {
        bottom: 81px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* iPad用 */
    .title {
        left: 30px;
    }

    .tabi {
        font-size: 65px;
    }

    .title2 {
        left: 30px;
    }

    .support_btn {
        width: 38%;
        font-size: 25px;
    }

    .support_btn2 {
        width: 38%;
        font-size: 25px;
        left: 31.5%;
    }

    .post_overall {
        top: 110px;
    }

    .post_single {
        height: 200px;
    }

    .fuwafuwa {
        width: 130px;
        height: 130px;
    }

    .post_name {
        top: 55px;
    }

    .about_white {
        bottom: 81px;
    }

    .content_about {
        width: 590px;
    }

    .other_white {
        bottom: 81px;
    }

    .more_white {
        bottom: 81px;
    }

    .sns_maru1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .sns_maru2 {
        margin-right: 30px;
    }

    .sns_maru3 {
        margin-right: 30px;
    }
}

@media screen and (max-width:767px) {

    /* スマホ用 */
    #vmap {
        top: -30px;
    }

    .title {
        left: 10px;
        letter-spacing: 0px;
    }

    .tabi {
        font-size: 45px;
        top: 3px;
    }

    .title_text {
        font-size: 18px;
    }

    .title_koromo {
        font-size: 14px;
    }

    .title2 {
        left: 10px;
        letter-spacing: 0px;
        top: 9px;
    }

    .p-menu {
        top: 23px;
        right: 10%;
    }

    .p-menu span {
        width: 25px;
    }

    .p-menu--green {
        top: 25px;
        right: 10%;
    }

    .p-menu--green span {
        width: 25px;
    }

    .open nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submenu_red {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #FF0033;
        top: 0px;
    }

    .submenu_white {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
        bottom: 26px;
    }

    .acd-content ul {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: scroll;
    }

    /* モーダルウィンドウ */
    .p-modal {
        left: 0%;
        overflow-y: scroll;
    }

    .p-modal-mask {
        display: none;
    }

    .p-modal_content {
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: auto;
        transform: translate(-50%, 30%);
    }

    .p-modal_content__title {
        font-size: 24px;
    }

    .p-modal_content__left {
        padding: 0px 25px;
    }

    .modal_logo {
        height: 150px;
    }

    .modal_text {
        font-size: 14px;
        line-height: 1.5;
    }

    .ranking_midasi {
        font-size: 14px;
        padding: 10px 5px;
        white-space: nowrap;
    }

    .ranking_overall {
        font-size: 14px;
    }

    .wiki_link {
        font-size: 14px;
        bottom: 15px;
    }

    .shop_link {
        font-size: 16px;
        top: 0;
        margin: 5px 0px;
    }

    /* ここまで */
    .p-whats-koromo {
        margin: 0;
    }

    .midasi {
        margin-left: 0;
        font-size: 16px;
        padding: 20px;
    }

    .midasi_green {
        left: 0;
        font-size: 16px;
        padding: 24px;
        top: 10px;
    }

    .t-shirt {
        width: 150px;
        height: 150px;
    }

    .text_midasi {
        font-size: 12px;
    }

    .back_mask {
        top: 1295px;
    }

    .support {
        margin-top: 100px;
    }

    .supporter {
        bottom: 40px;
    }

    .company_logo {
        width: 100px;
        height: 100px;
    }

    .company_name {
        font-size: 10px;
    }

    .support_btn {
        width: 50%;
        font-size: 16px;
    }

    .support_btn2 {
        width: 50%;
        font-size: 16px;
        left: 26%;
    }

    #new_post {
        height: 300px;
    }

    .fuwafuwa {
        padding: 0px 15px;
    }

    .post_single {
        height: 150px;
    }

    .post_name {
        display: none;
    }

    .content_about {
        width: 85%;
        height: 202px;
    }

    .content_about2 {
        padding: 0;
        height: 94%;
    }

    .isenti_logo {
        width: 100px;
        height: 100px;
        position: relative;
        left: 20px;
    }

    .about_text {
        font-size: 13px;
        font-weight: bold;
    }

    .details {
        left: -30vw;
        top: 150px;
        font-size: 16px;
    }

    .triangle_green {
        left: -65px;
        top: 150px;
    }

    .triangle_white {
        left: -90px;
        top: 150px;
    }

    .other_green {
        font-size: 30px;
    }

    .other_white {
        font-size: 30px;
        bottom: 69px;
    }

    .other_company_logo {
        margin: 10px;
    }

    .other_company_name {
        display: none;
    }

    .other_text {
        right: 213px;
        font-size: 14px;
        margin-top: 10px;
    }

    .more {
        margin-top: 10em;
    }

    .sns {
        height: 250px;
    }

    .half_moon_a {
        left: 5%;
        height: auto;
        justify-content: center;
    }

    .sns_maru1 {
        bottom: 0;
        margin: 0;
    }

    .base {
        width: 70px;
        height: 70px;
    }

    .sns_maru2 {
        bottom: 0;
        margin: 0;
    }

    .insta {
        width: 40px;
        height: 40px;
    }

    .sns_maru3 {
        bottom: 0;
    }

    .twitter {
        width: 40px;
        height: 35px;
    }

    .sns_text {
        display: none;
    }

    .sns_text2 {
        display: none;
    }

    .half_moon_b {
        height: 30%;
        left: 5%;
        top: -4em;
    }

    .half_moon_c {
        height: 30%;
        right: 5%;
        top: -6em;
    }

    .half_moon_d {
        height: 30%;
        right: 8%;
        top: -10.5em;
    }

    .ibou {
        width: 30%;
        right: 25%;
        top: 2em;
        z-index: 999;
    }

    footer {
        top: -2em;
    }
}

@media screen and (max-width:320px) {
    .midasi {
        font-size: 14px;
    }

    .midasi_green {
        font-size: 14px;
    }

    .post_green {
        font-size: 30px;
    }

    .post_white {
        font-size: 30px;
        bottom: -17px;
    }

    .about_green {
        font-size: 30px;
    }

    .about_white {
        font-size: 30px;
        bottom: 69px;
    }

    .other_green {
        font-size: 25px;
    }

    .other_white {
        font-size: 25px;
        bottom: 58px;
    }

    .more_green {
        font-size: 30px;
    }

    .more_white {
        font-size: 30px;
        bottom: 69px;
    }

    .text_midasi {
        font-size: 10px;
        position: relative;
        right: 10px;
    }

    .about_text {
        font-size: 10px;
    }

    .other_company_logo {
        width: 250px;
        height: 130px;
    }
}